
@model IEnumerable<tds.Models.Transaction>
@{

    Layout = null;


}
<table id="tableToExcel" class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>
                <b>Contractor</b>
            </th>
            <th>
                <b> GSTIN</b>
            </th>
            @*<th>
            Date
        </th>*@
            <th>
                <b>TV NO</b>
            </th>
            <th>
                <b>Scheme</b>
            </th>
            <th>
                <b>Work</b>
            </th>
            <th>
                <b>Date</b>
            </th>
            <th>
                <b>Amount Paid</b>
            </th>
            <th>
                <b>Deposit</b>
            </th>


            <th>
                <b> CGST</b>
            </th>
            <th>
                <b> SGST</b>
            </th>
            <th>
                <b>IT</b>
            </th>
            <th>
                <b>Labour Cess</b>
            </th>

            <th>
                <b>Net Amount</b>
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
        <tr>

            <td>
                @(item.Equals(Model.Last()) ? @Html.Raw(" <b> " + @item.contractor.name + "</ b >") : @Html.Raw(@item.contractor.name))
            </td>
            <td>
                @item.contractor.GSTIN
            </td>
            <td>
                @(item.Equals(Model.Last()) ? @Html.Raw(" <b></ b >") : @Html.Raw(item.TreasuryVoucherNo))
            </td>
            <td>
                @(item.Equals(Model.Last()) ? @Html.Raw(" <b></ b >") : @Html.Raw(item.SchemeWork.Scheme.AccountNo))
            </td>
            <td>
                @(item.Equals(Model.Last()) ? @Html.Raw(" <b></ b >") : @Html.Raw(item.SchemeWork.Work.Title))
            </td>
            <td>
                @(item.Equals(Model.Last()) ? @Html.Raw(" <b></ b >") : @Html.Raw(Html.DisplayFor(x => item.createDate)))
            </td>
            <td>
                @(item.Equals(Model.Last()) ? @Html.Raw(" <b> " + @item.amountPaid + "</ b >") : @Html.Raw(item.amountPaid))
            </td>
            <td>
                @(item.Equals(Model.Last()) ? @Html.Raw(" <b> " + @item.deposit + "</ b >") : @Html.Raw(item.deposit))
            </td>


            <td>
                @(item.Equals(Model.Last()) ? @Html.Raw(" <b> " + @Convert.ToInt64(item.cgstAmount) + "</ b >") : @Html.Raw(Convert.ToInt64(item.cgstAmount)))
            </td>
            <td>
                @(item.Equals(Model.Last()) ? @Html.Raw(" <b> " + @Convert.ToInt64(item.sgstAmount) + "</ b >") : @Html.Raw(Convert.ToInt64(item.sgstAmount)))
            </td>
            <td>
                @(item.Equals(Model.Last()) ? @Html.Raw(" <b> " + @Convert.ToInt64(item.itAmount) + "</ b >") : @Html.Raw(Convert.ToInt64(item.itAmount)))
            </td>
            <td>
                @(item.Equals(Model.Last()) ? @Html.Raw(" <b> " + @Convert.ToInt64(item.labourCessAmount) + "</ b >") : @Html.Raw(Convert.ToInt64(item.labourCessAmount)))
            </td>

            <td>
                @(item.Equals(Model.Last()) ? @Html.Raw(" <b> " + @Convert.ToInt64(item.netAmount) + "</ b >") : @Html.Raw(Convert.ToInt64(item.netAmount)))
            </td>
        </tr>

        }




    </tbody>
</table>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.table2excel.js"></script>
<script>

$(document).ready(function(){

    $("#tableToExcel").table2excel({
                exclude: ".noExl",
                name: "Worksheet Name",
                filename: "Report"
    });
    window.top.close();

});
</script>
