@model List<tds.Models.Transaction>
@{

    Layout = null;


}
<link rel="stylesheet" href="/Content/vendors/mdi/css/materialdesignicons.min.css">
<link rel="stylesheet" href="/Content/vendors/css/vendor.bundle.base.css">
<link rel="stylesheet" href="/Content/vendors/flag-icon-css/css/flag-icon.min.css">
<!-- endinject -->
<!-- plugin css for this page -->
<!-- End plugin css for this page -->
<!-- inject:css -->
<link rel="stylesheet" href="/Content/css/vertical-layout-light/style.css">
<div class="main-panel">
    <div class="content-wrapper" style="background-color:#fff">
        <div class="row">
            <div class="col-lg-12">
                <div class="card px-2">
                    <div class="card-body">

                        <div class="container-fluid d-flex justify-content-between">
                            <div class="col-lg-3 pl-0">

                                <h3 style="font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;margin-bottom:20px;text-align:center">OFFICE OF THE EXECUTIVE ENGINEER SPECIAL SUBDIVISION TANGDAR</h3>
                                <hr />
                            </div>

                        </div>


                        <div class="row">
                            <p style="width:45%;display:inline-block;text-align:left;margin-left:30px; font-size:15px;"><b>Name : </b>@Model.FirstOrDefault().contractor.name </p>
                           
                            <p style="width:45%;display:inline-block; text-align:right;font-size:15px"> <b>GSTIN : </b>  @Model.FirstOrDefault().contractor.GSTIN</p>
                        </div>


                        <div class="row mt-3 d-flex justify-content-center w-100">
                            <div class=" w-100" style="width:100%;">
                                <table class="table table-bordered table-condensed">
                                    <thead>
                                        <tr>
                                            <th>

                                            </th>


                                            <th>
                                                Date
                                            </th>
                                            <th>
                                                TV No
                                            </th>
                                            <th>
                                                Scheme
                                            </th>
                                            <th>
                                                Amt Paid
                                            </th>
                                            <th>
                                                Deposit
                                            </th>

                                            <th>
                                                CGST
                                            </th>
                                            <th>
                                                SGST
                                            </th>
                                            <th>
                                                IT
                                            </th>
                                            <th>
                                                LC
                                            </th>

                                            <th>
                                                Net Amt
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @foreach (var item in Model)
                                        {
                                        <tr>
                                            <td>
                                                <b> @(item.Equals(Model.Last()) ? "Total" : "")</b>

                                            </td>



                                            <td>

                                                @(!item.Equals(Model.Last()) ? item.createDate.Value.ToString("dd-MM-yyyy") : "")
                                            </td>
                                            <td>
                                                @item.TreasuryVoucherNo

                                            </td>
                                            <td>
                                                @if (item.SchemeWork != null)
                                                {
                                                    @item.SchemeWork.Scheme.AccountNo
                                                }


                                            </td>
                                            <td>
                                                @item.amountPaid

                                            </td>
                                            <td>
                                                @item.deposit
                                            </td>
                                            <td>
                                                @Convert.ToInt64(item.cgstAmount)

                                            </td>
                                            <td>
                                                @Convert.ToInt64(item.sgstAmount)
                                            </td>
                                            <td>
                                                @Convert.ToInt64(item.itAmount)
                                            </td>
                                            <td>
                                                @Convert.ToInt64(item.labourCessAmount)
                                            </td>

                                            <td>
                                                @Convert.ToInt64(item.netAmount)
                                            </td>
                                        </tr>

                                        }


                                    </tbody>
                                </table>


                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:../../partials/_footer.html -->
    <!-- partial -->
</div>


